@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html,
body,
head,
section {
  font-family: "Inter", sans-serif;
}
.spicalShadow{
  background: #FFFFFF;
  box-shadow: 1px -10px 25px rgba(201, 201, 201, 0.25), -1px 10px 25px rgba(147, 147, 147, 0.25);
}
/* 
#1678CB
#3B8BEA
#68D6F5
#242424
*/